
// $primary: #747fe0;
// $text: #525f7f;
// $lightGrey: #f0f0f0;
// $projectcard: #ffffff;
// $fadedPurple: #5a5d7a;
// $terminal: #3a3c4e;
// $fadedBlue: #7795f8;
// $highlighterGreen: #92eac0;
// $linkTeal: #35feff;
// $background: #f6f9fc;

// Light Mode Colors
$light-primary: #747fe0;
$light-text: #525f7f;
$light-lightGrey: #f0f0f0;
$light-projectcard: #ffffff;
$light-fadedPurple: #5a5d7a;
$light-terminal: #55597a;
$light-fadedBlue: #7795f8;
$light-highlighterGreen: #92eac0;
$light-linkTeal: #35feff;
$light-background: #f6f9fc;

// Dark Mode Colors
$dark-primary: #747fe0; // Adjust as needed for dark mode
$dark-text: #dbdbdb;
$dark-lightGrey: #1e1e2f;
$dark-projectcard: #3a3c4e;
$dark-fadedPurple: #a0a4ca;
$dark-terminal: #3a3c4e;
$dark-fadedBlue: #7795f8;
$dark-highlighterGreen: #92eac0;
$dark-linkTeal: #35feff;
$dark-background: #242429;
